</div>

<!-- upload container start -->


<script>
  let sidebar = document.querySelector('.slide');
  let menubtn = document.querySelector(".menubar");
  let closebtn = document.querySelector('.cancel-btn');



  menubtn.addEventListener("click", () => {
    sidebar.style.left = "0";
  });

  closebtn.addEventListener("click", () => {
    sidebar.style.left = "-100%";
  });


</script>
</body>

</html>
