    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/stylesheets/form.css">
    </head>
    <body>
        <div class="container">
            <img src="images/up.png" alt="logo">
            <h1>Login</h1>
            <% if(error) { %>
              <center><p class="error"><%= error %></p></center>
            <% } %>
            <% if(error) { %>
              <center><p class="error"><%= islogin %></p></center>
            <% } %>
            <form action="/login" method="post">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required> <br> <br>
                <button class="login-btn" type="submit">Login</button>
            </form>
            <div class="create-account-section">
                <p>Don't have an account? <a href="/register">Create one</a></p>
            </div>
        </div>
        <div class="banner">
            <img src="images/up.png" alt="logo">
           <center> <h1>Drop<span class="right">Host</span></h1> </center>
        </div>
    </body>
    </html>
    