<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            background-color: #1b1b1b;
            color: #ffffff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100vh;
        }

        .container {
            background-color: #1f1f1f;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 300px;
            text-align: center;
        }

        .container img {
            height: 70px;
            display: none;
        }

        h1 {
           background-image: linear-gradient(45deg, rgb(237, 84, 251) , rgb(64, 125, 255));
           -webkit-background-clip: text;
           background-clip: text;
           color: transparent;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
            background-color: #333333;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            outline: none;
        }

        .login-btn, .create-btn {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background: linear-gradient(45deg, rgb(242, 97, 255), rgb(64, 125, 255));
            color: #121212;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .login-btn:hover, .create-btn:hover {
            background: linear-gradient(45deg, rgb(64, 125, 255), rgb(242, 97, 255));

        }

        .create-account-section {
            margin-top: 20px;
        }

        .create-account-section a {
            color: rgb(63 135 255);
            text-decoration: none;
        }

        .banner img {
            height: 18rem;
        }

        .banner h1 {
            color: white;
            font-size: 40px;
        }
        .banner h1 .right {
            color: rgb(63 135 255);
        }


        @media (max-width:768px) {
         .banner {
            display: none;
         }

         .container {
            padding: 20px 40px
         }

         .container img {
            margin-top: 2rem;
            display: inline-block;
         }

       }

      

       @media (max-width:360px) {
        .container {
            height: 94.5%;
            width: 100%;
            border-radius: 0px;
         }

       }

    </style>
</head>
<body>
    <div class="container">
        <img src="images/up.png" alt="logo">
        <h1>Register</h1>
       
        <form action="/register" method="post">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required> 
            <input type="password" placeholder="Retype" name="retype" required> <br> <br>
            <button class="login-btn" type="submit">Register</button>
        </form>
        <div class="create-account-section">
            <p>Already have an account? <a href="/"> login</a></p>
        </div>
    </div>
    <div class="banner">
        <img src="images/up.png" alt="logo">
       <center> <h1>Drop<span class="right">Host</span></h1> </center>
    </div>
</body>
</html>